<html>
    <head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> 
<script src="script.js"></script> 
</head>   
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container">
        <h1 style="text-align:center">PRUEBA BELLATRIX</h1>
        <h2>DEPARTAMENTO</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Codigo Padre</th>
                    <th>Descripción Padre</th>
                </tr>
            </thead>
            <tbody>
                 <tr ng-repeat="d in data.dep">
                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td>-</td>
                    <td>-</td>   
                </tr>   
            </tbody>
        </table>
        <h2>PROVINCIA</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Codigo Padre</th>
                    <th>Descripción Padre</th>
                </tr>
            </thead>
            <tbody ng-repeat="dep in data.dep">
                <tr ng-repeat="prov in dep.prov">
                    <td>{{prov.id}}</td>
                    <td>{{prov.name}}</td>
                    <td>{{dep.id}}</td>
                    <td>{{dep.name}}</td>   
                </tr>    
            </tbody>
        </table>
        <h2>DISTRITO</h2>
        <table class="table table-bordered">
            <thead ng-repeat-start="dep in data.dep track by $index">
                <tr ng-if="$index==0">
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Codigo Padre</th>
                    <th>Descripción Padre</th>
                </tr>
            </thead>
            <tbody ng-repeat-end ng-repeat="prov in dep.prov">
                <tr ng-repeat="dis in prov.dis">
                    <td>{{dis.id}}</td>
                    <td>{{dis.name}}</td>
                    <td>{{prov.id}}</td>
                    <td>{{prov.name}}</td>   
                </tr>    
            </tbody>
        </table>
    </div>
    </body>
</html>